<div class="centered-content-template">
  <% if @invitation.initial? %>
    <h1>Accept Invitation: <%= @invitation.team.name %></h1>

    <p class="lead"><%= @invitation.inviter.full_name %> has invited you to the '<%= @invitation.team.name %>' <%= @invitation.team.teamable.class.model_name.human %>.</p>

    <%= simple_form_for @service_object, :url => accept_team_invitation_path(@invitation.token) do |f| %>

      <%= f.submit "Accept", :class => "btn btn-primary" %>
      <%= f.submit "Decline", :class => "btn btn-danger" %>

    <% end %>
  <% else %>
    <h1>Invitation Token</h1>

    <p>This invitation token has already been used.</p>
  <% end %>
</div>
