<%= render "index_breadcrumb" %>

<div class="heading-with-dropdown-menu d-flex justify-content-between">
  <h1><%= @team.name %>: Team Members</h1>

  <%= render "dropdown_menu" %>
</div>

<%= render "members_table" %>

<%= render "add_member_link" %>
