<%= form_with(model: invitation) do |form| %>
  <% if invitation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
        <% invitation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= form.text_field :team_id %>
  </div>

  <div>
    <%= form.label :inviter_id, style: "display: block" %>
    <%= form.text_field :inviter_id %>
  </div>

  <div>
    <%= form.label :membership_id, style: "display: block" %>
    <%= form.text_field :membership_id %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.label :token, style: "display: block" %>
    <%= form.text_field :token %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :sent_at, style: "display: block" %>
    <%= form.datetime_field :sent_at %>
  </div>

  <div>
    <%= form.label :expires_at, style: "display: block" %>
    <%= form.datetime_field :expires_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
