<div id="<%= dom_id invitation %>">
  <p>
    <strong>Team:</strong>
    <%= invitation.team_id %>
  </p>

  <p>
    <strong>Inviter:</strong>
    <%= invitation.inviter_id %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= invitation.membership_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= invitation.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= invitation.role %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= invitation.token %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invitation.status %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= invitation.sent_at %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= invitation.expires_at %>
  </p>

</div>
